
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right,rgb(100, 144, 173), rgb(168, 78, 190));

  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
}



.container {
  max-width: 400px; 
  margin: 0 auto;
  padding: 20px;
  background-color: #fff; 
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(251, 4, 4, 0.1);
}



.App {
  text-align: center;
  margin-top: 50px;
  
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 5px;
  margin-bottom: 10px;
}

.transactions {
  margin-top: 50px;
}

.transactions ul {
  list-style-type: none;
  padding: 0;
}

.transactions li {
  margin-bottom: 10px;
}
